<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>


<p th:text="${book.getTitle() + ', ' + book.getAuthor + ', ' + book.getYear()}">VALUE</p>
<!--тег p (paragraph) просто отображает текст -->


<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>
    <!-- span то же самое, что и тег p, но не совершает перенос строки -->
    <form th:method="PATCH"
          th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span> <!-- span то же самое, что и тег p, но не совершает перенос строки -->
    <!--выпадающий список ДОЛЖЕН лежать внутри формы -->
    <form th:method="PATCH"
          th:action="@{/books/{id}/assign(id=${book.getId()})}">

        <label for="person">Выберите человека</label>
        <!-- label for="person" СВЯЗАН с select id="person" -->
        <select th:object="${person}"
                th:field="*{id}"
                id="person">
            <!--th:object="${person}" - объект, для которого создаётся выпадающий список (пришёл из модели) -->
            <!--th:field="*{id}"      - поле объекта, которое выбирается в выпадающем списке -->
            <!--id="person">          - id выпадающего списка (не связан никак с моделью). Нужен только для label  -->
            <option th:each="person : ${people}"
                    th:value="${person.getId()}"
                    th:text="${person.getFullName()}">
            <!--th:value = отправится на сервер ТОЛЬКО значение id, который @ModelAttribute увидит, что подходит для объектов класса Person  -->
            <!--th:text  = текст, который будет отображаться в браузере -->
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>



<hr/> <!--Создаёт горизонтальную линию-->
<!--с помощью тега а можем посылать только GET запрос -->
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>