<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<!--использовать именно метод Thymeleaf th:method (у HTML5 нет метода PATCH)
th:method="PATCH" создаст скрытое поле -->
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <!--в этом месте Thymeleaf скрытно прописывает:
    <input type="hidden" name="_method" value="patch"> = $0 -->

  <label for="name">Enter name: </label>
    <!-- *{} - Обращаемся к полям класса Person -->
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>