<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <!--использовать именно метод Thymeleaf th:method (у HTML5 нет метода PATCH)
        th:method="PATCH" создаст скрытое поле. в этом месте Thymeleaf скрытно прописывает:
        <input type="hidden" name="_method" value="patch"> = $0 -->
  <label for="title">Введите название книги: </label>
  <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
  <br/>

  <label for="author">Введите автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
  <br/>

  <label for="year">Введите год выпуска: </label>
  <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
  <br/>

  <!--
  <label for="email">Введите email: </label>
  <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
  <br/>
  
  <label for="address">Enter address: </label>
  <input type="text" th:field="*{address}" id="address"/>
  <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</div>
  <br/>
  -->
  <input type="submit" value="редактировать!"/>
</form>


</body>
</html>