<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>

<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id=${book.getId()})}"
     th:text="${book.getTitle() + ', ' + book.getAuthor()}+ ', ' +book.getYear()}">
      user</a>
    <!--Для каждого book, пришедшего из Листа books (из модели)
    Вставить ссылку на страницу  /books/{id} где id получить вызовом метода у book
    Ссылку привязать к тексту
    <a th:href="@{/books/{${book.getId()}}" th:text="${book.getName()}">user</a>     -->
</div>

<br/><!--Создаёт пустую строку-->
<hr/> <!--Создаёт горизонтальную линию-->
<a href="/books/new">Create new book</a>

</body>
</html>